<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.itcast.smartcity02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.CinemaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CinemalistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoviedaiyingdetialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoviedetialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HousedetialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XinwenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RanqifeiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DianfeiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShuifeiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DianhuafeiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TianqiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashujvyiliaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XiaoyuanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QinziActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShenghuoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShangwuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HangyeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XuexiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WorkdetialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ParkoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DitiegonggaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShiwuzhaolingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GrainchengchekaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChengchekaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DiyigeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FindworkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DingdanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirstfoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PisadianinfomationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MianguanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HanbaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TiandianActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MeishiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HuodongActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FindhouseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TakeawayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SubwayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ParkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TrafficActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LivingPayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ApponitmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllService"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewsmainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.YijianfankuiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TotaldingdanlistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonCenterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login"
            android:exported="true" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>